<app-main-nav>

  <div class="notas">
    <div *ngFor="let nota of notasAdesivas; let i = index">
      <div class="nota-adesiva" [style.background-color]="nota.cor" (mousedown)="iniciarArrasto($event, i)"
        [style.top.px]="nota.y" [style.left.px]="nota.x">
        <textarea [formControl]="nota.textoControl" (blur)="salvarNotasAdesivas()"></textarea>
        <button class="excluir-nota-adesiva" (click)="excluirNotaAdesiva(i)">X</button>
      </div>
    </div>
    <!-- <button class="botao-centralizado" (click)="adicionarNotaAdesiva()">Adicionar nota</button> -->


  </div>

  <button class="btn btn-primary botao-centralizado" (click)="openVerticallyCentered(content)">Abrir modal</button>

</app-main-nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nova Nota Adesiva</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="title-note">Titulo do Lembrete</label>
        <input type="text" formControlName="title">
      </div>
      <div class="form-group">
        <label for="note">Lembrete: </label>
        <textarea formControlName="note"></textarea>
      </div>
      <div class="form-group">
        <label for="title-note">Prioridade: </label>
        <select formControlName="priority">
          <option *ngFor="let priority of priorities" [value]="priority.priority"
            [style.background-color]="priority.color">
            {{ priority.priority }}</option>
        </select>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" [disabled]="!form.valid"
      (click)="modal.close('Close click')">Salvar</button>
  </div>
</ng-template>