<app-main-nav>

    <!-- https://codepen.io/SKaDiZZ/pen/BXLjxm -->

    <div class="container active">
        <header>
            <!-- <button id="add" title="Adicionar uma nova nota" (click)="addNote()">
                <i class="material-icons">add</i>
            </button> -->
            <h3>Notas adesivas</h3>
            <div class="buttons">
                <!-- <button id="removenote" title="Excluir a nota">
                    <i class="material-icons">delete</i>
                </button>
                <button id="save" title="Salvar a nota">
                    <i class="material-icons"> save</i>
                </button> -->
            </div>
        </header>
        <aside>
            <span id="toggle">
                <i class="material-icons" (click)="showSearch()">keyboard_double_arrow_left</i>
            </span>
            <div class="search-box">
                <i class="material-icons">search</i>
                <input type="text" id="search" placeholder="Search">
            </div>
            <ul id="notelist">
                <!-- É aqui que entra as notas coloridas -->
                <h5 *ngIf="notesList.length > 0">Notas pendentes:</h5>
                <div class="col-lg-12" *ngFor="let note of notesList">
                    <div class="notes-area">
                        <div>
                            <div class="card" style="max-width: 18rem;"
                                [ngStyle]="{'background-color': note.noteColor}">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{note.title_note}}</h5>
                                    <p class="card-text">{{note.description_note}}</p>
                                </div>
                                <div class="card-footer">
                                    <button class="notes-btn" (click)="editNote(note)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="notes-btn" (click)="deleteNote(note.id_note)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ul>
        </aside>
        <main>
            <div class="col-lg-12 container">
                <form [formGroup]="notesForm">
                    <div class="mb-3">
                        <label for="Titulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Insira um titulo" formControlName="title_note">
                    </div>

                    <div class="mb-3">
                        <label for="Descrição" class="form-label">Descrição</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            formControlName="description_note" placeholder="Crie uma nova nota"></textarea>
                    </div>

                    <div class="mb-3">
                        <!-- <select formControlName="noteColor" class="color-select">
                            <option value="null" disabled>Select color...</option>
                            <option *ngFor="let color of noteColorList" [value]="color">{{color}}
                            </option>
                        </select> -->

                        <ng-select class="custom" [items]="prioridade" bindLabel="name" bindValue="id"
                            formControlName="noteColor">
                        </ng-select>

                    </div>

                    <button class="add-btn" (click)="saveNote()" [disabled]="notesForm.invalid">
                        {{editData ? "Editar " : "Adicionar"}}
                    </button>
                </form>

            </div>

            <!--            
            <textarea name="noteinput" id="noteinput" cols="3" rows="3" placeholder="Crie uma nova nota..."></textarea> -->

        </main>
    </div>

</app-main-nav>