<app-main-nav>

    <div class="notas">
        <div *ngFor="let nota of notasAdesivas; let i = index">
          <div class="nota-adesiva" [style.background-color]="nota.cor" (mousedown)="iniciarArrasto($event, i)" [style.top.px]="nota.y" [style.left.px]="nota.x">
            <textarea [formControl]="nota.textoControl" (blur)="salvarNotasAdesivas()"></textarea>
            <button class="excluir-nota-adesiva" (click)="excluirNotaAdesiva(i)">X</button>
          </div>
        </div>
        <button class="botao-centralizado" (click)="adicionarNotaAdesiva()">Adicionar nota</button>
      </div>
      

</app-main-nav>