<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <!-- <h2 class="heading-section">COPLAN</h2> -->
                <img src="../../assets/img/coplan_lgbt.png" alt="COPLAN" srcset=""
                    style="display: block; margin-left: auto; margin-right: auto; " width="60%">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(../../assets/img/pngegg.png); max-width: 350px;
                    max-height: 178px;
                    margin-top: 140px;
                    margin-left: 60px;">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <!-- <div class="d-flex">
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div> -->
                        <form action="#" class="signin-form">

                            <div class="container">
                                <div class="row" id="contact">
                                    <div class="col-md-12">
                                        <h5 class="display-5" style="text-align: center;">Portal de Serviços da
                                            Coordenadoria de Planejamento </h5>

                                        <hr>
                                        <form [formGroup]="formAuth" (ngSubmit)="SignInForm()">
                                            <div class="col-md-12">

                                                <div class="form-group has-float-label">
                                                    <input type="email" class="form-control" formControlName="email"
                                                        placeholder="Insira o seu e-mail" autocomplete="off" required>
                                                    <label for="email">Usuario</label>
                                                </div>

                                                <div class="form-group has-float-label">
                                                    <input type="password" class="form-control"
                                                        formControlName="password" placeholder="Insira a sua senha"
                                                        autocomplete="off" required>
                                                    <label for="password">Senha</label>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit"
                                                        class="form-control btn btn-primary rounded submit btnSignin px-3"
                                                        style="margin-top: 20px;" (click)="LoginIn()"><i class="fa"
                                                            [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': isAproved, 'fa-times' : isRescued}"></i>
                                                        {{button}}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </form>
                        <p class="text-center">Não é membro? Solicite seu acesso <a data-toggle="tab"
                                href="javascript:void(0)" (click)="open(content)">Cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cadastre-se</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group has-float-label">
                        <input type="text" class="form-control" [(ngModel)]="user.nm_usuario"
                            placeholder="Insira o seu nome" autocomplete="off" #nm_usuario="ngModel"
                            [ngModelOptions]="{standalone: true}" required>
                        <label for="nome">Nome</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group has-float-label">
                        <input type="text" class="form-control" [(ngModel)]="user.nm_usuariosobrenome"
                            placeholder="Insira o seu sobrenome" autocomplete="off" #nm_usuariosobrenome="ngModel"
                            [ngModelOptions]="{standalone: true}" required>
                        <label for="sobrenome">Sobrenome</label>
                    </div>

                </div>

                <div class="col-lg-12">
                    <div class="form-group has-float-label">
                        <input type="email" class="form-control" [(ngModel)]="user.email"
                            placeholder="@gmail, outlook..." autocomplete="off" #email="ngModel" required
                            [ngModelOptions]="{standalone: true}">
                        <label for="email">E-mail</label>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-lg-6">
                    <!-- Desenvolver uma solução para o float label -->
                    <div class="form-group has-float-label">

                        <ng-select [(ngModel)]="selectedSector" class="form-control"
                            [ngModelOptions]="{standalone: true}" >
                            
                            <ng-option *ngFor="let set of sector" [value]="set.id">{{set.name}}</ng-option>
                        </ng-select>
                        <label for="sector">Setor</label>
                    </div>

                </div>
                <div class="col-lg-6">
                    <!-- Desenvolver uma solução para o float label -->
                    <div class="form-group has-float-label">
                        <div class="input-group">
                            <input
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="dp"
                                [(ngModel)]="model"
                                ngbDatepicker
                                #d="ngbDatepicker"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                        </div>
                        <label for="sector">Data de Nascimento</label>
                    </div>

                </div>
            </div>



            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group has-float-label">
                        <input type="text" class="form-control" [(ngModel)]="user.password" autocomplete="off" required
                            #password="ngModel" placeholder="Insira a sua senha" [ngModelOptions]="{standalone: true}">
                        <label for="Senha">Senha</label>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="form-group has-float-label">
                        <input type="text" class="form-control" [(ngModel)]="user.cpassword" id="senha" name="senha"
                            autocomplete="off" placeholder="Confirme a sua senha" required #cpassword="ngModel"
                            [ngModelOptions]="{standalone: true}">
                        <label for="cSenha">Confirme a Senha</label>
                    </div>
                </div>

                <div *ngIf="(user.password != user.cpassword) && cpassword.dirty || cpassword.touched">
                    <small style="color: red">Senhas não coincidem.</small>
                </div>

                <!-- <div *ngIf="user.cpassword.required">
                    <small style="color: red">Senha é obrigatório.</small>
                </div> -->




            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); SignUp(); ">OK</button>
    </div>
</ng-template>