<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <!-- <h2 class="heading-section">COPLAN</h2> -->
                <img src="../../assets/img/coplan_lgbt.png" alt="COPLAN" srcset="" style="display: block; margin-left: auto; margin-right: auto; " width="60%">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(../../assets/img/pngegg.png); max-width: 350px;
                    max-height: 178px;
                    margin-top: 140px;
                    margin-left: 60px;">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <!-- <div class="d-flex">
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div> -->
                        <form action="#" class="signin-form">

                            <div class="container">
                                <div class="row" id="contact">
                                    <div class="col-md-12">
                                        <h5 class="display-5" style="text-align: center;">Portal de Serviços da
                                            Coordenadoria de Planejamento </h5>

                                        <hr>
                                        <form>
                                            <div class="col-md-12">

                                                <div class="form-group has-float-label">
                                                    <input type="email" class="form-control" id="email"
                                                        placeholder="Insira o seu e-mail" autocomplete="off" required>
                                                    <label for="email">Usuario</label>
                                                </div>

                                                <div class="form-group has-float-label">
                                                    <input type="password" class="form-control" id="password"
                                                        placeholder="Insira a sua senha" autocomplete="off" required>
                                                    <label for="password">Senha</label>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit"
                                                        class="form-control btn btn-primary rounded submit btnSignin px-3"
                                                        style="margin-top: 20px;" [disabled]="isLoading"
                                                        (click)="LoginIn()"><i class="fa"
                                                            [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': isAproved, 'fa-times' : isRescued}"></i> {{button}}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                          
                        </form>
                        <p class="text-center">Não é membro? Solicite seu acesso <a data-toggle="tab"
                                href="#signup">Cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>