.mat-table{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* th.mat-header-cell, td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
} */


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border: 1px solid #CCC;
    padding: 0 !important;
    width: 200px;
    text-align: center;
}


.controls{
    margin-left: 350px;
    margin-right: 350px;
    display: block;
    padding: 10px;
}

button{
    margin: 20px;
    text-align: center;
}