@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.footer{
    text-align: center;
    font-weight: 400;
    padding-bottom: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 3px 15px;
}

.mat-sidenav-content {
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
}


.example-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.5);
}



.example-sidenav {
    user-select: none;
    background-color: #2B2E83;
    min-width: 60px;
}

.full-width {
    width: 100%;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-side {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.menu-side .rotated {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}

/* .sidenav-container {
    height: 100%;
}

.sidenav {
    width: 190px;
} */
/* 
.sidenav .mat-toolbar {
    background: inherit;
} */

/* hr {
    background-color: #157ed2;
    padding: 1px;
}

.linha {
    margin-left: 25px;
    width: 200px;
}

.linha2 {
    width: 250px;
}

.menu_footer {
    position: absolute;
    bottom: 0;
} */

.icones {
    margin-right: 20px;
}

.mat-toolbar.mat-primary {
    background: #fff;
    color: #cccccc;
    position: sticky;
    top: 0;
    z-index: 1;
}

.btn_menu {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 1.33;
    border-radius: 35px;
}

/*
.mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
    background: skyblue;
} */

/* .spacer {
    flex: 1 1 auto;
}

.mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
} */

/* .mat-sidenav {
    width: 250px;
    height: auto;
    background-repeat: no-repeat;
    background-color: #2B2E83;
    background-size: 250px;
    background-position: 1% 33%;
    position: fixed;
    /* background-attachment: fixed, scroll; 
} */



a[ng-click] {
    cursor: pointer;
}




@media screen and (max-height:667px) {
    .mat-sidenav {

        background-image: none;
    }
}

@media all and (max-height:400px) {

    .mat-sidenav {
        background-image: none;
    }
}



.text-menu {
    color: #1EB297 !important;
    font-size: medium;
    font-family: "Nanito Sans", Arial, sans-serif;
    font-weight: 300;
}



.text-nav {
    color: #fff;
    font-family: "Nanito Sans", Arial, sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
}