img {
  filter: invert(.95);
}

.u-text-placeholder {
  background-color: #a2a8b1;
  display: inline-block;
  height: 9px;
}

.container {
  height: 85vh;
}

.l-cards {
  display: grid;
  grid-gap: 30px;
  // grid-template-columns: repeat(3, 300px);
  // grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

a {
  text-decoration: none;
}


// .card:hover {
//   box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
//   cursor: pointer;
// }

.img_menu {
  height: 68%;
  width: 60%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 20px;
  margin: 25px 5px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 260px;
}

.text {
  color: #464E5F;
  text-align: left;
}

.corpo {
  color: #464E5F;
  text-align: center;
  margin-top: 20px;
}


.c-card {
  // background-color: #ced4da;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;

  &__image {
    align-items: center;
    background-color: #b5b9c1;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    display: flex;
    flex: 5;
    justify-content: center;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    padding: 15px;
  }
}