<app-main-nav>

	<ul>
		<li>A busca de contatos ainda está desenvolvimento;</li>
		<li>A ordenação e filtro serão as proximas implementações</li>
		<li> Está previsto um aviso de carregamento de dados</li>
		
	</ul>

	<form>
		<div class="mb-3 row">
			<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisar :</label>
			<div class="col-xs-3 col-sm-auto">
				<input id="table-complete-search" type="text" class="form-control" name="searchTerm"
					[(ngModel)]="service.searchTerm" />
			</div>
			<span class="col col-form-label" *ngIf="service.loading$ | async">Carregando...</span>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col" sortable="nm_usuario" (sort)="onSort($event)">Nome</th>
					<th scope="col" sortable="nm_usuariosobrenome" (sort)="onSort($event)">Sobrenome</th>
					<th scope="col" sortable="email" (sort)="onSort($event)">E-mail</th>
					<th scope="col" sortable="sector" (sort)="onSort($event)">Setor</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users$ | async">

					<td>
						<ngb-highlight [result]="user.nm_usuario" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td><ngb-highlight [result]="user.nm_usuariosobrenome " [term]="service.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="user.email " [term]="service.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="user.sector " [term]="service.searchTerm"></ngb-highlight></td>
				
					<td class="overflow-hidden" scope="row">
						<div ngbDropdown container="body">
							<button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Ações</button>
							<div ngbDropdownMenu>
								<button ngbDropdownItem (click)="onUpdate(user._id)">Editar</button>
								<div class="dropdown-divider"></div>
								<button ngbDropdownItem (click)="onDelete(user._id)">Excluir</button>
							</div>
						</div>
					</td>
					<!-- <th scope="row">{{ contact._id }}</th> -->
				</tr>
			</tbody>
		</table>

		<div class="d-flex justify-content-between p-2">
			<ngb-pagination [collectionSize]="(total$ | async)!" style="width: auto" [maxSize]="22"
				[(page)]="service.page" [pageSize]="pageSize" (pageChange)="onPageChange($event)">
			</ngb-pagination>



			<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
				<option [ngValue]="5">5 items per page</option>
				<option [ngValue]="10">10 items per page</option>
				<option [ngValue]="15">15 items per page</option>
			</select>
		</div>
	</form>
</app-main-nav>
